/*
 * Copyright © 2020 EPAM Systems, Inc. All Rights Reserved. All information contained herein is, and remains the
 * property of EPAM Systems, Inc. and/or its suppliers and is protected by international intellectual
 * property law. Dissemination of this information or reproduction of this material is strictly forbidden,
 * unless prior written permission is obtained from EPAM Systems, Inc
 */

.container {
  width: 100%;
  height: 640px;
  padding: 0 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  background-size: 100% 100%;
}

.footer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 30px 0;

  &__controls {
    display: flex;
    margin-top: 20px;
    align-items: flex-end;

    p {
      position: absolute;
      top: -110px;
      color: #fff;
      width: 300px;
      height: 120px;
      padding: 5px 10px;
      background-color: rgba($color: #000, $alpha: 0.6);
      overflow-y: scroll;
      animation: info-transform 0.4s linear;
    }
  }
}

@keyframes info-transform {
  0% {
    transform: translateX(300px);
  }

  100% {
    transform: translateX(0);
  }
}

.watch_button {
  background-color: rgb(24, 183, 236);
  color: #fff;
}

.info_button {
  background-color: inherit;
  border: 1px solid #fff;
  color: #fff;
}
