/*
 * Copyright © 2020 EPAM Systems, Inc. All Rights Reserved. All information contained herein is, and remains the
 * property of EPAM Systems, Inc. and/or its suppliers and is protected by international intellectual
 * property law. Dissemination of this information or reproduction of this material is strictly forbidden,
 * unless prior written permission is obtained from EPAM Systems, Inc
 */

.select {
  display: inline-block;
  position: relative;
  border: none;
  font-size: 20px;
  color: rgb(24, 183, 236);
  background-color: rgb(240, 240, 240);
  cursor: pointer;
  
  &__arrow {
    font-size: 12px;
  }

  &__text {
    padding: 0 5px;
    position: relative;

    &::after {
      content: '\1F83B';
      position: absolute;
      line-height: 10px;
      font-size: 24px;
      top: 8px;
      right: -20px;
      transition: transform .2s linear;
    }
  }

  &__list {
    position: absolute;
    width: max-content;
    height: 215px;
    overflow-y: auto;
    z-index: 100;
    background-color: rgb(240, 240, 240);
    border: 1px solid #fff;
  }

  &__item {
    padding: 5px 5px;
    height: 30px;
    &:hover {
      background-color: rgb(24, 183, 236);
      color: #fff;
    }

    &_active {
      background-color: rgb(24, 183, 236);
      color: #ffffff;
    }
  }
}

.rotateArrow {
  &::after {
    transform: rotate(-180deg);
  }
}